<ion-content [fullscreen]="true">
    <div>
        @if(questions && currentQuestion < questions.length) {
            <h1>Question {{ currentQuestion + 1 }}</h1>
            <h2>{{ questions[currentQuestion].question }}</h2>
            <div>
                @for(answer of questions[currentQuestion].shuffledAnswers; track answer) {
                    <ion-button 
                        expand="block" 
                        [fill]="currentAnswer == answer ? 'solid' : 'outline'" 
                        size="large" 
                        [color]="colorAnswerButton"
                        (click)="setCurrentAnswer(answer)"
                    >
                        {{ answer }}
                    </ion-button>
                }
            </div>
        }
    </div>
    <div>
        <ion-button expand="block" fill="outline" size="large" (click)="checkAnswer()">
            Confirmar
        </ion-button>
    </div>


</ion-content>
