/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */
*{
    font-family: 'Comic Sans MS', cursive, sans-serif;
    font-size: 15px;
}
/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

/* @import "@ionic/angular/css/palettes/dark.always.css"; */
/* @import "@ionic/angular/css/palettes/dark.class.css"; */
@import '@ionic/angular/css/palettes/dark.system.css';

:root {
    --ecru-white-50: #f8f5e9;
    --ecru-white-100: #f1ebd4;
    --ecru-white-200: #e1d5a6;
    --ecru-white-300: #d2bd77;
    --ecru-white-400: #c7a858;
    --ecru-white-500: #bd9043;
    --ecru-white-600: #a67339;
    --ecru-white-700: #8b5932;
    --ecru-white-800: #72482e;
    --ecru-white-900: #5f3c28;
    --ecru-white-950: #351f13;
    --atlantis-50: #f4fbea;
    --atlantis-100: #e5f6d1;
    --atlantis-200: #cdeea8;
    --atlantis-300: #abe076;
    --atlantis-400: #8fd14f;
    --atlantis-500: #6db52d;
    --atlantis-600: #549020;
    --atlantis-700: #416e1d;
    --atlantis-800: #36581c;
    --atlantis-900: #2f4b1c;
    --atlantis-950: #16290a;
    --bunker-50: #f7f7f8;
    --bunker-100: #eeeef0;
    --bunker-200: #d9d9de;
    --bunker-300: #b8b9c1;
    --bunker-400: #91939f;
    --bunker-500: #747583;
    --bunker-600: #5e5f6b;
    --bunker-700: #4d4e57;
    --bunker-800: #42424a;
    --bunker-900: #3a3a40;
    --bunker-950: #1a1a1d;
    --old-brick-50: #fff1f1;
    --old-brick-100: #ffe0e0;
    --old-brick-200: #ffc6c6;
    --old-brick-300: #ff9e9e;
    --old-brick-400: #ff6666;
    --old-brick-500: #fd3636;
    --old-brick-600: #eb1717;
    --old-brick-700: #c60f0f;
    --old-brick-800: #a31111;
    --old-brick-900: #8e1616;
    --old-brick-950: #4a0505;
}

.cartoon-button {
    background-color: var(--atlantis-50); 
    color: #000; 
    border: 4px solid #000; 
    border-radius: 20px; 
    padding: 15px 30px; 
    font-size: 18px; 
    font-weight: bold; 
    font-family: 'Comic Sans MS', cursive, sans-serif; 
    text-align: center; 
    cursor: pointer;
    text-transform: uppercase;
    box-shadow: 5px 5px 0px #000; 
    transition: all 0.2s ease; 
    margin-block: 10px;
    width: 100%; 
    max-width: 300px;
}

.cartoon-button:disabled {
    background-color: var(--bunker-800);
    color: var(--bunker-50)
}

.cartoon-button:hover {
    background-color: var(--bunker-200);
    box-shadow: 3px 3px 0px #000;
    transform: translateY(2px);
}

ion-content {
    --background: var(--old-brick-200); /* Cinza claro */
}